body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  font-weight: 400;
  color: #9aa0a6;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 0;
}
.weather-app-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #885df1;
  margin-top: 10px;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  color: #9aa0a6;
  list-style: none;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

li ::first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1px;
  padding-top: 30px;
}
.units {
  font-size: 16px;
  top: -32px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #9aa0a6;
}

.weather-forecast-date {
  font-size: 20px;
}
.weather-forecast-temperature-max {
  font-size: 14px;
  color: black;
}

.weather-forecast-temperature-min {
  font-size: 14px;
}
